body {
  margin: 0;
}

#main {
  width: 90%;
  margin: 30px auto;
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

#header {
  color: #3EC99C;
  width: 90%;
  margin: 30px auto;
  font-family: sans-serif;
}

#full {
  width: 100%;
  background-color: #2D3049;
}

#main h2 {
  color: #2D3049;

}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}

#header p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2D3049;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:hover img {
  transform: scale(1.05);
}

figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
}



img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}